button, 
.button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  padding: 0 22px;
  background: $color-aqua-dark;
  border-radius: 100px;
  border: 0;
  font-family: $fontStack;
  line-height: 42px;
  font-weight: 300;
  text-align: center;
  color: $color-white;
  @include font-size(16);
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

  @include breakpoint(sm) {
    @include font-size(15);
  }

  @include breakpoint(xs) {
    @include font-size(14);
  }

  @include breakpoint(0,400px) {
    padding: 0 18px;
    line-height: 36px;
  }

  @include on-state(hover, focus, active) {
    background: lighten($color-aqua-dark,5);
    color: $color-white;
  }

  p + & {
    margin-top: 20px;
  }

  // Remove the dotted outline FireFox puts on inputs when focused
	&::-moz-focus-inner {
		border: 0;
	}
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin: (-$gutters);
  width: calc(100% + (#{$gutters} * 2));

  @include breakpoint(xs) {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    margin: $gutters;

    // @include breakpoint(xs) {
    //   width: 100%;
    // }
  }
}
