//=============================================================================================================
// Page Content / Editor Elements
//=============================================================================================================

// Styling exclusively for entry content (content from the editor) 
.entry-content {
	margin: (-$content-paragraph-break) 0; // Push entry content outwards to offset any titles/block elements at the top or bottom of the editor

	.entry-content-wrap {
		margin: $content-paragraph-break 0; // Now push it back it in so any large margins on titles/block elements will overlap this element's margin and won't create any undesired spacing
	}

	// Blockquotes
	blockquote {
		position: relative;
		margin: $content-paragraph-break 0;
		padding: 0 0 0 40px;
		border: none;

		@include breakpoint(xs) {
			padding: 0 0 0 20px;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 7px;
			bottom: 7px;
			left: 0;
			width: $border-thickness;
			background-color: $color-aqua;
		}

		p {
			display: block;
			
			// Bold authors name
			&:last-of-type:not(:first-of-type) {
				font-weight: 500;
				margin: $content-line-break 0 0 0;
			}
		}
	}

	// Headings
	h1, h2, h3, h4, h5, h6 {
		margin-top: $content-paragraph-break;
	}
	
	// Lists
	ul, ol {
		-webkit-margin-start: 0;
		-moz-margin-start: 0;
		margin-inline-start: 0;
		-webkit-padding-start: 0;
		-moz-padding-start: 0;
		padding-inline-start: 0;
		-webkit-margin-before: 0;
		margin-block-start: 0;
		-webkit-margin-after: 0;
		margin-block-end: 0;
		list-style-position: outside;
		margin-bottom: $content-line-break;

		> li {
			position: relative;
			line-height: $default-line-height;
			padding-left: 30px;
			margin-bottom: 10px;

			&:last-child {
				margin: 0;
			}
		}

		ol, ul {
			margin-top: 10px;
		}
	}

	ul {
			
		> li {

			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 10px;
				height: 3px;
				width: 3px;
				border-radius: 50%;
				background: $color-white;

				@media screen and (min-width: 560px) {
					top: 13px;
				}
			}
		}
	}

	ol {
		counter-reset: list;

		> li {

			&::before {
				counter-increment: list;
				content: counter(list)".";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		// Second level uses alphabetical prefixes
		ol {

			> li {

				&::before {
					content: counter(list, lower-alpha)".";
				}
			}

			// Third level uses roman numeral prefixes
			ol {

				> li {
	
					&::before {
						content: counter(list, lower-roman)".";
					}
				}
			}
		}
	}

	// Links in content - note we are targeting <a> tags that have no, or an empty, class property
	a {
		
		&:not([class]),
		&[class=""] {
			display: inline;
			border-bottom: $border-thickness solid $color-grey-400;
			padding: 2px 0;

			@include on-state(hover, focus) {
				border-color: $color-aqua;
			}
		}
	}

	// Tables
	table {
		width: 100% !important;
		margin: $content-paragraph-break 0;

		tr {
			border-top: 2px solid $color-grey-300;

			&:first-of-type {
				border: none;
			}
		}

		td {
			width: auto !important;
			padding: 10px 10px 10px 0;
		}
	}

	// Horizontal rule
	hr {
		border: solid $color-grey-300;
		border-width: $border-thickness 0 0 0;
		margin: $content-paragraph-break 0;
		height: 0;
	}

	// Images
	img {
		display: block;
		width: auto;
		max-width: 100%;
		margin: $content-paragraph-break 0;
		border-radius: $corners;

		&.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}

		&.alignleft {
			margin-right: auto;
		}

		&.alignright {
			margin-left: auto;
		}
		
		&.size-full {
			max-width: 100%;
		}
	}

	// Image captions
	figure.wp-caption {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		margin: $content-paragraph-break 0;

		img {
			margin: 0;
		}
		
		figcaption {
			display: flex;
			width: 100%;
			margin: 15px 0 0 0;
			@include font-size(14);
		}
		
		&.aligncenter {
			justify-content: center;

			figcaption {
				justify-content: center;
			}
		}
			
		&.alignleft {
			justify-content: flex-start;

			figcaption {
				justify-content: flex-start;
			}
		}

		&.alignright {
			justify-content: flex-end;

			figcaption {
				justify-content: flex-end;
			}
		}
	}

	// Video embeds
	.video-container {
		margin: $content-paragraph-break 0;
	}
}
