.footer {
  background: $color-grey-100;
  border-top: $border-thickness solid $color-white-fade;
}

.footer-subscribe {
  padding: 15px 0;
  background: $color-grey-200;

    @include breakpoint(xs) {
      padding: 30px 0;
    }

  .subscribe-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include breakpoint(xs) {
      flex-direction: column;
      align-items: flex-start;
    }

    span {
      @include font-size(16);
      margin-right: 20px;

      @include breakpoint(xs) {
        display: block;
        margin: 0 0 $content-line-break 0;
      }
    }
  }
}

// Footer top section
.footer-top {
  padding: 60px 0;
  @include font-size(14);

  .footer-details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-branding {
    width: 100%;
  }

  .footer-logo {
    display: block;
    position: relative;
    left: -60px;
    width: 197px;
    height: 50px;
    padding: 0 20px 0 0;
    margin: 0 0 $content-line-break 0;
    border-radius: 100px;
    transition: box-shadow 0.3s ease-in-out;

    @include breakpoint(0,1340px) {
      left: 0;
    }

    .logo {
      display: block;
      width: 197px;
      height: 50px;
      margin-right: 20px;
  
      @include breakpoint(sm) {
        width: 142px;
        height: 40px;
      }
    }
  }

  .footer-contact {
    flex-grow: 1;
    width: 50%;

    @include breakpoint(md) {
      width: 60%;
    }

    @include breakpoint(sm) {
      width: 100%;
    }
  }

  .footer-sitemap {
    display: flex;
    width: 50%;

    @include breakpoint(md) {
      width: 40%;
    }

    @include breakpoint(sm) {
      width: 100%;
      margin-top: 60px;
    }

    .footer-nav {
      display: flex;
      flex-grow: 1;

      ul {
        width: 33.3333336%;

        @include breakpoint(md) {
          width: 50%;

          &#footer-menu-2 {
            display: none;
          }
        }

        @include breakpoint(sm) {
          width: 33.3333336%;
        }

        @include breakpoint(xs) {
          width: 50%;
        }

        li {
          
          a {
            display: inline-block;
            color: $color-white;
            margin: -1px -6px;
            padding: 1px 6px;
            border-radius: $corners;

            @include on-state(hover, focus) {
              color: $color-aqua;
            }
          }
        }
      }
    }
  }
}

// Footer bottom section
.footer-bottom {
  position: relative;
  padding: 30px 0;
  @include font-size(13);
  border-top: $border-thickness solid $color-grey-300;

  @include breakpoint(xs) {
    @include font-size(12);
  }

  .footer-bottom-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .copyright {
    width: auto;

    @include breakpoint(xs) {
      width: 100%;
    }

    p {
      display: block;
      margin: 0;
    }
  }

  .footer-bottom-nav {
    width: 50%;
    flex-grow: 1;
    margin: 0;

    @include breakpoint(xs) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .footer-bottom-menu {

    li {
      display: inline-flex;
      align-items: center;

      a {
        display: block;
        padding: 1px 6px;
        margin: -1px -6px;
        line-height: $default-line-height;
        border-radius: $corners;
        color: $color-white;

        @include on-state(hover, focus) {
          color: $color-aqua;
        }
      }

      &:after {
        content: "";
        display: inline-block;
        width: 2px;
        min-width: 2px;
        height: 2px;
        border-radius: 2px;
        margin: 0 15px 0 18px;
        background-color: $color-white;
      }

      &:last-child:after {
        content: none;
      }
    }
  }
}
