//=============================================================================================================
// Standard Search Form
//=============================================================================================================

.search-form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
  width: 100%;

	@media screen and (min-width: 560px) {
		flex-wrap: nowrap;
	}

	.search-input {
    height: 60px;
		margin: 0;
    padding: 0 40px 0 0;
    @include font-size(20);
    border: none;
    border-bottom: $border-thickness solid rgba($color-white, 0.2);
    border-radius: 0;
    
    @include on-state(focus, active) {
      border-bottom-color: $color-aqua;
    }

    // Placeholder, these need to be seperate like this
    &::-webkit-input-placeholder {
      @include font-size(20);
    }

    // Firefox 18-
    &:-moz-placeholder {
      @include font-size(20);
    }

    // Firefox 19+
    &::-moz-placeholder {
      @include font-size(20);
    }

    // IE
    &:-ms-input-placeholder {
      @include font-size(20);
    }

    &::-ms-clear {
      display: none;
    }
	}

	.search-submit {
    position: absolute;
    top: 50%;
		right: -12px;
		width: 44px;
		min-width: 44px;
		height: 44px;
		margin: 0;
    padding: 0;
    background: none !important;
		border-radius: $corners;
    border: none;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

		&:after {
			content: "\e011";
			display: block;
			font-family: $ui-icons;
			font-size: 18px;
			line-height: 18px;
			color: $color-white;
			padding: 1px;
			backface-visibility: hidden;
			transform: translateZ(0) scale(1.0, 1.0);
			transition: 0.3s ease-in-out;
		}

		@include on-state(hover, focus) {

			&:after {
				color: $color-aqua;
			}
		}
	}
}




//=============================================================================================================
// Hubspot Forms
//=============================================================================================================

.hbspt-form {
  margin-bottom: 0;

  @include breakpoint(sm) {
    margin-top: 40px;
  }

  @include breakpoint(xs) {
    margin-top: 18px;
  }

  iframe {
    @include breakpoint(xs) {
      width: 100% !important;
    }
  }
}
