//=============================================================================================================
// Container
//=============================================================================================================

.container {
	position: relative;
	display: flex;
	flex-flow: wrap;
	padding: 0 $container-pad;
	margin: 0 auto;
	width: 100%;
	max-width: 1180px;

	@include breakpoint(lg) {
		max-width: 970px;
	}

	@include breakpoint(md) {
		// flex-direction: column;
		max-width: 768px;
	}

	// @todo add this when the whole site is using .container instead of .inner-wrap
	// @include breakpoint(0, 400px) {
	// 	padding: 0 20px;
	// }
    
	&.flex {
		display: flex;
		flex-wrap: wrap;
	}

	&::after {
		clear: both;
		content: "";
		display: block;
    }
}




//=============================================================================================================
// Page Wrapper
// Wraps all content between the header and footer, padding offsets the header
//=============================================================================================================

.page-wrapper {
    position: relative;
    width: 100%;
		padding-top: $header-height-desktop;
		// background-color: $color-white;

	// @media screen and (min-width: 560px) {
	// 	padding-top: $header-height-tablet;
	// }

	@include breakpoint(sm) {
		padding-top: $header-height-mobile;
	}
}




//=============================================================================================================
// General Overlay Asset
// Note: set opacity on per use basis
//=============================================================================================================

.overlay {
	content: "";
	display: block;
	position: absolute;
	background-color: $color-black;
	opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
}




//=============================================================================================================
// Images
//=============================================================================================================

img {
	display: block;
	max-width: 100%;
	height: auto;
}



//=============================================================================================================
// Disable Scroll Function
//=============================================================================================================

.disable-scroll {
	overflow: hidden;
}



//=============================================================================================================
// Disable Transitions
//=============================================================================================================

.disable-transitions {
	transition: none !important;
}



//=============================================================================================================
// Basic rows
//=============================================================================================================

.row {
	display: flex;
	flex-wrap: wrap;
}




//=============================================================================================================
// Label swapper
//=============================================================================================================

.label-swapper {
	position: relative;
	margin: 0 auto;

	.label {
		padding: 0;
		line-height: 1;
		white-space: nowrap;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
	}

	// Align labels centre 
	&.align-centre {

		.label {
			text-align: center;
		}
	}

	// Align labels right 
	&.align-right {

		.label {
			text-align: right;
		}
	}

	// Slide up transition type
	&.slide-up {

		.label {
			transform: translateY(50%);

			&:first-child {
				opacity: 1;
			}
	
			&:last-child {
				opacity: 0;
			}
		}

		&.swap {

			.label {
				transform: translateY(-50%);

				&:first-child {
					opacity: 0;
				}

				&:last-child {
					opacity: 1;
				}
			}
		}
	}

	// Slide down transition type
	&.slide-down {

		.label {
			transform: translateY(-50%);
	
			&:first-child {
				opacity: 0;
			}
			
			&:last-child {
				opacity: 1;
			}
		}

		&.swap {

			.label {
				transform: translateY(50%);

				&:first-child {
					opacity: 1;
				}

				&:last-child {
					opacity: 0;
				}
			}
		}
	}

	&.zoom {

		.label {
			
			&:last-child {
				position: absolute;
				top: 0;
				left: 0;
				transform: scale(1.6);
				opacity: 0;
				visibility: hidden;
			}
		}

		&.swap {

			.label {

				&:first-child {
					opacity: 0;
					visibility: hidden;
					transform: scale(0.4);
				}

				&:last-child {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
			}
		}
	}
}




//=============================================================================================================
// Video Embeds
//=============================================================================================================

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//=============================================================================================================
// General Modification classes
//=============================================================================================================

.pb0 {
	padding-bottom: 0 !important;
}

.pt0 {
	padding-top: 0 !important;
}
