//=============================================================================================================
// Header general layout and parts
//=============================================================================================================

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	background: $color-grey-100;
  z-index: 9999;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease;

  // Fix for Edge 16/17 list style bug
	ul li {
		list-style: none;
		list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	}

	.header-bar {
    position: relative;
    display: flex;
    flex-flow: nowrap;
		z-index: 10;
		overflow: hidden;
	}

	.header-bar-wrap {
    position: relative;
    display: flex;
		flex-flow: nowrap;
		width: 100%;
    padding: 0 15px 0 20px;
		border-bottom: $border-thickness solid $color-grey-300;
    
    @include breakpoint(xs) {
      padding: 0 10px 0 20px;
    }
	}

  // .scrolled & {
  //   background: $color-grey-fade-dark;
  // }

  .header-left {
    display: flex;
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .overlay-panel {
    display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: $header-height-desktop 0 0 0;
		background-color: $color-grey-100;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

		@include breakpoint(sm) {
			padding-top: $header-height-mobile;
		}

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }

    .panel-wrap {
			position: relative;
			flex-grow: 1;
      width: 100%;
			overflow: hidden;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;
				height: 70px;
				background: linear-gradient(180deg, rgba($color-grey-100, 1) 0%, rgba($color-grey-100, 0) 100%);
				z-index: 1;
				pointer-events: none;
			}

			.panel-scroll {
        display: flex;
        flex-direction: column;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow-y: scroll;
				padding-right: 30px; // Add padding to the right to push any scroll bars down away from the scroll items
				margin-right: -30px; // Then slice of those ugly scroll bars
				-webkit-overflow-scrolling: touch;
				overflow: -moz-scrollbars-none;
				-ms-overflow-style: none;
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
  }
}


//=============================================================================================================
// Logo
//=============================================================================================================

.header {

  .header-logo {
    margin: 20px 0;
    border-radius: 100px;
    transition: box-shadow 0.3s ease-in-out;

    @include breakpoint(sm) {
      margin: 12px 0;
    }

    .logo {
      display: block;
      width: 177px;
      height: 50px;
      margin-right: 20px;
  
      @include breakpoint(sm) {
        width: 141px;
        height: 40px;
      }
  
      @include breakpoint(xs) {
        width: 130px;
        height: 40px;
      }
    }
  }
}




//=============================================================================================================
// Site tools (header right)
//=============================================================================================================

// Note: language switcher styles are in _language-switcher.scss
.header {

  // Trigger group
  .site-tools {
    display: flex;
  }

  // Search panel trigger
  .search-panel-trigger {
		position: relative;
		width: 44px;
		height: 44px;
    padding: 0;
		margin: 0;
    border: none;
    border-radius: $corners;
    background: none !important;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    @media screen and (min-width: 768px) {
      margin-left: 5px;
    }

    .label-swapper {
      width: 22px;
    }

		.search-icon {
			display: block;
      margin: auto;
      width: 22px;
      height: 22px;

			&:after {
				content: "\e011";
				display: block;
				font-family: $ui-icons;
				font-size: 20px;
				line-height: 20px;
				font-weight: normal;
				color: $color-white;
				padding: 1px;
				backface-visibility: hidden;
				transform: translateZ(0) scale(1.0, 1.0);
				transition: 0.3s ease-in-out;
			}
		}

		.close-icon {
			display: block;
      margin: auto;
      width: 22px;
      height: 22px;
		
			&:after {
				content: "\e012";
				display: block;
				font-family: $ui-icons;
				font-size: 18px;
				line-height: 18px;
				font-weight: normal;
				color: $color-white;
				padding: 2px;
				backface-visibility: hidden;
				transform: translateZ(0) scale(1.0, 1.0);
				transition: 0.3s ease-in-out;
			}
		}

		@include on-state(hover, focus) {

			.search-icon:after,
			.close-icon:after {
				color: $color-aqua;
			}
		}
  }
  
  // Mobile menu trigger
  .mobile-menu-trigger {
		position: relative;
		width: 44px;
		height: 44px;
    padding: 0;
		margin: 0;
    border: none;
    border-radius: $corners;
    background: none !important;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
    @media screen and (min-width: 768px) {
      margin-left: 5px;
    }

		@media only screen and (min-width: 1024px) {
			display: none;
		}

		.inner {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}

		.hamburger {
			width: 24px;
			height: 16px;
			transition: 0.3s ease-in-out;

			& > div {
				display: block;
				height: 2px;
				background-color: $color-white;
				border-radius: 10px;
				margin-bottom: 5px;
				transition: 0.3s ease-in-out;

				&:nth-child(3) {
					margin: 0;
				}
			}
		}

		&.open {

			.hamburger {

				& > div {

					&:nth-child(1) {
						transform: rotate(45deg) translate(5px, 4px);
          }
          
          &:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(-45deg) translate(5.5px, -5px);
					}
				}
			}
		}

		@include on-state(hover, focus) {

			.hamburger > div {
				background-color: $color-aqua;
			}
		}
	}
}




//=============================================================================================================
// Mobile menu
//=============================================================================================================

.header {

  .mobile-menu {
		position: relative;
    width: 100%;
    margin: auto 0;
    opacity: 0;
		visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

		@media only screen and (min-width: 1024px) {
			display: none;
		}

		.mobile-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
			width: 100%;
			margin: 0;
      padding: 70px 0;

			ul.main-menu {
				display: block;

				li {
					position: relative;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;

					a {
						position: relative;
						display: inline-flex;
						@include font-size(20);
						color: $color-white;
						padding: 10px 15px;
						margin: 0 -15px;
						border-radius: $corners;

						@include on-state(hover, focus) {
							color: $color-aqua;
						}

						@include on-state(focus) {
							box-shadow: $focus-ring-inset;
						}
					}
				}
			}
		}
	}
}




//=============================================================================================================
// Desktop menu
//=============================================================================================================

.header {

  .desktop-menu {
    display: none;

    @media only screen and (min-width: 1024px) {
			display: flex;
		}
  
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 0;

        a {
					position: relative;
          display: block;
          padding: 5px 15px;
          color: $color-white;
          text-decoration: none;
          font-weight: 300;
          border-radius: $corners;

          @include on-state(hover, focus) {
            color: $color-aqua;
          }
				}
				
				&.current-menu-item {

					> a {

						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 15px;
							right: 15px;
							bottom: -27px;
							height: $border-thickness;
							background-color: $color-aqua;
							box-shadow: 0 10px 30px 5px rgba($color-aqua, 0.8);
						}
					}
				}
      }
    }
  }
}




//=============================================================================================================
// Search panel
//=============================================================================================================

.header {

  .search-panel {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: inherit; // Inherit the padding of the relative positioned parent (.panel-scroll)
    opacity: 0;
		visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transform: translateY(-50%);

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .search-form {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}




//=============================================================================================================
// Mobile menu and search panel active states
//=============================================================================================================

.is-overlay {
  
  .header {

    .overlay-panel {
      opacity: 1;
      visibility: visible;
    }
  }
}

.is-mobile-menu {

	.header {

		.mobile-menu {
			opacity: 1;
			visibility: visible;
		}
	}
}

.is-search {

  .header {

    .search-panel {
      opacity: 1;
			visibility: visible;
    }
  }
}




//=============================================================================================================
// Admin logged in overrides
//=============================================================================================================

.admin-bar {
	
	header {
		top: 46px;

		@media screen and (min-width: 783px) {
			top: 32px;
		}

		// .mobile-menu {
		// 	padding-top: calc(#{$header-height-mobile} + 46px);

		// 	@media screen and (min-width: 783px) {
		// 		padding-top: calc(#{$header-height-tablet} + 32px);
		// 	}
		// }
	}
}

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}
