//=============================================================================================================
// Inputs
//=============================================================================================================

input[type="reset"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="number"],
select,
textarea {
	position: relative;
	-webkit-appearance: none;
	display: block;
	font-family: $fontStack;
	@include font-size(14);
	font-weight: 300;
	line-height: $default-line-height;
	color: $color-white;
	background: none;
	border-radius: $corners;
	border: $border-thickness solid $color-aqua;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 20px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	cursor: text;

	@media screen and (min-width: 560px) {
		@include font-size(16);
	}

	&:disabled {
		color: rgba($color-white, 0.5);
	}

	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	// Placeholder, these need to be seperate like this
	&::-webkit-input-placeholder {
		font-family: $fontStack;
		@include font-size(14);
		font-weight: 300;
		color: rgba($color-white, 0.5);
		
		@media screen and (min-width: 560px) {
			@include font-size(16);
		}
	}

	// Firefox 18-
	&:-moz-placeholder {
		font-family: $fontStack;
		@include font-size(14);
		font-weight: 300;
		color: rgba($color-white, 0.5);
		
		@media screen and (min-width: 560px) {
			@include font-size(16);
		}
	}

	// Firefox 19+
	&::-moz-placeholder {
		font-family: $fontStack;
		@include font-size(14);
		font-weight: 300;
		color: rgba($color-white, 0.5);
		
		@media screen and (min-width: 560px) {
			@include font-size(16);
		}
	}

	// IE
	&:-ms-input-placeholder {
		font-family: $fontStack;
		@include font-size(14);
		font-weight: 300;
		color: rgba($color-white, 0.5);
		
		@media screen and (min-width: 560px) {
			@include font-size(16);
		}
	}

	// Remove the dotted outline FireFox puts on inputs when focused
	&::-moz-focus-inner {
		border: 0;
	}
}

select {
	cursor: pointer;

	// Remove the dotted outline FireFox puts on select elements when focused
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $color-white;
	}

	&:-moz-focusring * {
		color: $color-white;
		text-shadow: none;
	}
}

input[type="radio" i],
input[type="checkbox" i] {
	margin: 0 10px 0 0;
	transition: all 0.3s ease-in-out;
}

textarea {
	padding: 8px 15px; 
	line-height: $default-line-height;
	height: auto;

	@include on-state(hover, focus, active) {
		cursor: text;
	}
}

label {
	display: inline-block;
	margin: 0 0 10px 0;
}




//=============================================================================================================
// Radio buttons
//=============================================================================================================

.radio-group {
	display: flex;
	flex-wrap: wrap;
	margin: -10px -20px;
}

.radio-option {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 10px 20px;

	&:last-child {
		margin: 0;
	}

	input[type="radio"] {
		-webkit-appearance: none;
		height: 0;
		width: 0;
		clip: rect(0, 0, 0, 0);
		margin: 0;
		opacity: 0;
		z-index: -9999;

		&:checked + .radio {
			transform: translate3d(0,0,0) scale(1.2);

			.checker {
				transform: translate3d(0,0,0) scale(0.6);	
			}
		}

		// Apply focus ring to our imitation radio button, but only when the intent is from a keyboard user
		html:not([data-whatintent='mouse']):not([data-whatintent='touch']) &:focus {

			& + .radio {
				box-shadow: $focus-ring;
			}
		}
	}
	
	label {
		position: relative;
		display: block;
		margin: 0 0 0 -22px;
		padding-left: 22px;
		min-height: 22px; // Make the label at least cover the imitation radio button so it's still clickable
		cursor: pointer;

		&:not(:empty) {
			padding-left: 42px;
		}
	}

	// Radio outline
	.radio {
		position: relative;
		display: block;
		width: 22px;
		min-width: 22px;
		height: 22px;
		border-radius: 22px;
		border: $border-thickness solid $color-aqua;
		backface-visibility: hidden;
		transform: translate3d(0,0,0) scale(1);
		transition: transform 0.4s ease, box-shadow 0.3s ease-in-out;
	}

	// Selected dot
	.checker {
		position: relative;
		top: (-$border-thickness);
		left: (-$border-thickness);
		display: block;
		width: 22px;
		height: 22px;
		border-radius: 22px;
		background: $color-aqua;
		backface-visibility: hidden;
		transform: translate3d(0,0,0) scale(0);
		transition: transform 0.4s ease;
	}
}




//=============================================================================================================
// Select options
//=============================================================================================================

.select-option {
	position: relative;

	select {
		padding-right: 50px;
		
		&::-ms-expand {
			display: none;
		}

		option {
			color: $color-grey-100;
		}
	}

	&:after {
		content: "\e005";
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		font-family: $ui-icons;
		font-weight: normal;
		font-size: 12px;
		line-height: 12px;
		color: $color-white;
		padding: 1px;
		backface-visibility: hidden;
		transform: translate(0, -50%) scale(1.0, 1.0);
		transition: 0.3s ease-in-out;
		pointer-events: none;
	}
}




//=============================================================================================================
// Tooltips
//=============================================================================================================

// Tooltips
.tooltip {
	position: relative;
	display: inline-block;
	width: 22px;
	min-width: 22px;
	height: 22px;
	line-height: 22px;
	margin-left: 15px;
	font-weight: 500;
	text-align: center;
	color: $color-white;
	background-color: transparent;
	border-radius: 22px;
	border: $border-thickness solid $color-white;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	@include on-state(hover, focus) {
		color: $color-aqua;
		border-color: $color-aqua;
	}

	&:before {
		content: "\003F";
		display: block;
		margin-top: -1px;
		@include font-size(14);
	}
}
