.switcher-popup {
  display: block;
  padding: 10px 10px;
  width: 44px;
  background: url('../images/icon-translate-active.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $corners;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-left: 5px;
  }

  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/icon-translate.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  @include on-state(hover, focus) {

    &:after {
      opacity: 0;
    }
  }

  span {
    display: none;
  }

  img {
    display: none !important;
    // width: 24px;
    // height: 24px;

    // @include breakpoint(md) {
    //   width: 32px;
    //   height: 32px;
    // }

    // @include breakpoint(xs){
    //   width: 21px;
    //   height: 21px;
    // }
  }
}

#gt_lightbox {
  overflow: initial;
  width: 400px;
  height: auto;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
  background: $color-grey-300;

  @include breakpoint(sm) {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
  }

  > div:first-child {
    display: block;
    position: absolute !important;
    top: 5px;
    right: 5px;
    width: 32px !important;
    height: 32px !important;

    @include breakpoint(sm) {
      top: 20px;
      right: 20px;
    }

    @include breakpoint(xs) {
      top: 15px;
      right: 15px;
    }

    > span {
      position: absolute;
      top: 0 !important;
      right: 0 !important;
      display: block;
      width: 32px;
      height: 32px;
      border: none;
      background: none;
      opacity: 0.4;
      cursor: pointer;
      color: rgba(0,0,0,0) !important;
      transition: opacity 0.2s ease;

      @include breakpoint(sm) {
        right: 20px;
        top: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 0;
        display: block;
        width: 28px;
        height: 3px;
        background: $color-white;
        transform: rotate(45deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        display: block;
        width: 28px;
        height: 3px;
        background: $color-white;
        transform: rotate(-45deg);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .gt_languages {
    @include breakpoint(sm) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      max-width: 240px;
      column-count: 1;
    }

    a {
      max-width: 80%;
      border-bottom: none;
      font-weight: 300;

      &.selected {
        background: $color-grey-400;
      }

      @include breakpoint(sm) {
        padding: 10px 20px;
      }

      @include breakpoint(xs) {
        padding: 6px 20px;
      }

      img {
        width: 24px;
        height: 24px;
        margin-left: 10px;
      }

      span {
        vertical-align: middle;
        @include font-size(16);
      }
    }
  }
}

//Vertically align flags and text
a {
  &.glink {
    img {
      vertical-align: middle;
      display: inline;
      border: 0;
      padding: 0;
      margin: 0;
      opacity: 0.8;
    }
  }
}