//=============================================================================================================
// Pagination
//=============================================================================================================

// Post navigation section
.post-navigation,
.posts-navigation {
	margin: 60px 0 0 0;
	width: 100%;

	@include breakpoint(lg) {
    margin: 40px 0 0 0;
  }
}

// Pagination buttons/links
.pagination {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0;
	margin: 0 -5px;

	.page-numbers {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		font-weight: 400;
		padding: 10px;
		margin: 0 5px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $color-grey-200;
		transition: background-color 0.3s ease-in-out;

		@media screen and (min-width: 768px) {
			width: 46px;
			height: 46px;
			padding: 10px 15px;
		}

		&.current {
			background-color: $color-grey-300;
		}

		// &.dots {
		// 	padding-top: 0;
		// 	padding-left: 0;
		// 	padding-right: 0;
		// 	width: 15px;
		// 	background: none;

		// 	@media screen and (min-width: 400px) {
		// 		padding-top: 4px;
		// 	}
		// }
	}

	a.page-numbers {
		transition: 0.3s ease-in-out;

		&.next,
		&.prev {

			.icon {
				display: block;
				
				&:after {
					content: "";
					display: block;
					font-family: $ui-icons;
					font-size: 12px;
					line-height: 12px;
					font-weight: normal;
					padding: 1px;
					color: $color-white;
					backface-visibility: hidden;
					transform: translateZ(0) scale(1.0, 1.0);
					transition: 0.3s ease-in-out;

					@media screen and (min-width: 768px) {
						font-size: 14px;
						line-height: 14px;
					}
				}
			}
		}
        
		&.next {

			.icon {

				&:after {
					content: "\e003";
				}
			}
		}

		&.prev {

			.icon {

				&:after {
					content: "\e002";
				}
			}
		}

		@include on-state(hover, focus) {
			color: $color-white;
			background-color: $color-grey-300;

			.icon:after {
				color: $color-white;
			}
		}
	}
}
