.section-carousel {

  .carousel-wrapper {
    @include breakpoint(md) {
      width: 768px;
      margin: 0 auto;
    }

    @include breakpoint(sm) {
      width: 100%;
    }

    .slick-list {
      padding: 0 calc((100% - 1160px) / 2) !important;

      @include breakpoint(lg) {
        padding: 0 calc((100% - 960px) / 2) !important;
      }

      .slick-track {
        display: flex;
        margin-left: 0;
      }

      .slick-slide {
        position: relative;
        height: auto;
        margin: 0 10px;
        cursor: pointer;

        @include breakpoint(lg) {
          margin: 0 20px;
        }

        &:hover {
          article {
            background: $color-grey-300;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          background: $color-black;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          opacity: 0.8;
          z-index: 2;
          transition: opacity 0.3s ease;
        }

        &.slick-active {
          &:before {
            opacity: 0;
          }
        }

        > div {
          height: 100%;
          display: flex;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      top: 0;
      border: none;
      width: calc((100vw - 1140px) / 2);
      height: 100%;
      @include font-size(0);
      color: rgba(0,0,0,0);
      z-index: 100;
      opacity: 0.5;
      transition: opacity 0.2s ease;
      cursor: pointer;

      &.slick-next {
        right: 0;
        background: url('../images/icon-chevron-right.svg') 50px center / 50px 89px no-repeat;
      }

      &.slick-prev {
        left: 0;
        background: url('../images/icon-chevron-left.svg') right 50px center / 50px 89px no-repeat;
      }

      &.slick-disabled {
        opacity: 0;
        cursor: default;

        &:hover {
          opacity: 0;
        }
      }

      &:hover {
        opacity: 1;
      }

      @include breakpoint(0,1400px) {
        display: none;
      }
    }

    .slick-dots {
      position: absolute;
      width: 100%;
      margin-top: 20px;
      text-align: center;

      @include breakpoint(sm) {
        display: none;
      }

      li {
        display: inline-block;

        button {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          padding: 0;
          background: $color-grey-300;
          border-radius: 50%;
          border: none;
          transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
          @include font-size(0);
          color: rgba(0,0,0,0);

          @include on-state(active) {
            outline: 0;
          }
        }

        &.slick-active {
          button {
            background: $color-aqua;
          }
        }
      }
    }
  }

  article {
    display: inline-flex;
    flex-flow: column;
    padding: 20px 20px 40px;
    width: 100%;
    height: 100%;
    background: $color-grey-200;
    border-radius: 4px;
    transition: background 0.2s ease;

    h3 {
      margin: 0 0 10px 0;
      @include font-size(16);
      font-weight: 400;
    }

    p {
      margin: 0 0 10px 0;
      @include font-size(14);
      font-weight: 300;

      &:first-of-type {
        color: $color-grey-700;
      }
    }

    span {
      position: absolute;
      bottom: 20px;
      @include font-size(14);
      color: $color-aqua;
      font-weight: 300;
    }

    .article-image {
      width: calc(100% + 40px);
      height: 150px;
      margin: -20px -20px 20px -20px;
      border-radius: 4px 4px 0 0;
      background: url('../images/bg/home-hero.jpg') center center / cover no-repeat;
    }
  }
}
