.social-label {
	font-weight: 600;
	margin: 0 0 10px 0;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	margin: 0 -5px;
	padding: $content-line-break 0 0 0;
	list-style: none;

	li {
		padding: 5px;
		margin: 0;

		a {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 36px;
			width: 36px;
			color: $color-grey-100;
			background-color: rgba($color-white, 0.3);
			border-radius: 100px;

			.icon {
				display: block;

				&:before {
					content: "";
					display: block;
					font-family: $social-icons;
					font-weight: normal;
					font-size: 18px;
					line-height: 18px;
					color: $color-grey-100;
					transition: all 0.3s ease-in-out;
				}

				&.facebook {

					&:before {
						content: "\ea90";
					}
				}

				&.instagram {

					&:before {
						content: "\ea92";
					}
				}

				&.vimeo {

					&:before {
						content: "\eaa0";
					}
				}

				&.telegram {

					&:before {
						content: "\ea95";
					}
				}

				&.twitter {

					&:before {
						content: "\ea96";
					}
				}

				&.linkedin {
					margin-top: -4px;

					&:before {
						content: "\eaca";
					}
				}

				&.youtube {

					&:before {
						content: "\ea9d";
					}
				}
			}

			@include on-state(hover, focus) {
				color: $color-white;
				background-color: $color-white;
			}
		}
	}
}
