//=============================================================================================================
// 404 page
//=============================================================================================================

.section-error-404 {

  .content-wrap {
    width: 100%;
  }

  .entry-title {
    display: block;
    margin: 0;
  }

  .entry-sub-title {
    display: block;
    margin: $content-line-break 0 0 0;
  }

  .actions {
    margin: calc(#{$content-line-break} + 10px) 0 0 0;
  }
}
