.section-positions {

  .jobs-list {
    display: flex;
    flex-wrap: wrap;
    margin: (-$gutters);
    width: calc(100% + (#{$gutters} * 2));

    .job-item {
      padding: $gutters;
      width: 50%;

      @include breakpoint(md) {
        width: 100%;
      }

      a {
        display: inline-block;
        width: 100%;
        padding: 30px;
        border: $border-thickness solid $color-grey-300;
        border-radius: $corners;

        @include on-state(hover, focus) {
          border-color: $color-aqua;
        }
      }

      .title {
        margin: 0;
      }

      .sub-title {
        margin: calc(#{$content-line-break} - 5px) 0 0 0;
      }
    }
  }
}
