//=============================================================================================================
// Contact page
//=============================================================================================================

.section-contact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overlay {
    opacity: 0.7;
  }

  .content-wrap {
    width: 100%;
  }

  .contact-forms {
    display: inline-flex;
    width: 100%;
    margin: calc(#{$content-line-break} + 10px) 0 0 0;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: $content-paragraph-break 0 0 0;

    address {
      margin: 0 0 $content-line-break 0;

      strong {
        display: block;
      }
    }
  }

  .entry-title {
    display: block;
    margin: 0;
  }

  .entry-sub-title {
    display: block;
    margin: $content-line-break 0 0 0;
  }
}
