.section-team {

  article {
    display: flex;
    flex-flow: column;
    width: calc(50% - 20px);
    margin-right: 40px;
    margin-bottom: 80px;

    &:nth-of-type(2n) {
        margin-right: 0;
    }

    @include breakpoint(md) {
      flex-flow: row;
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include breakpoint(xs) {
      flex-flow: column;
    }

    .profile-image {
      width: 180px;
      height: 180px;
      margin-bottom: 20px;
      background-size: cover;
      background-position: center center;
      border-radius: 4px;

      @include breakpoint(md) {
        width: 120px;
        height: 120px;
        margin-right: 20px;
      }

      @include breakpoint(xs) {
        width: 100px;
        height: 100px;
      }
    }

    .profile-content {
      @include breakpoint(md) {
        width: calc(100% - 140px);
      }

      @include breakpoint(xs) {
        width: 100%;
      }

      .name {
        display: block;
        font-weight: 400;
        margin: 0 0 10px 0;
      }

      .position {
        display: block;
        // @include font-size(12);
        color: $color-grey-600;
        margin: 0 0 10px 0;
      }
    }
  }
}