//=============================================================================================================
// Icon Fonts
//=============================================================================================================

// Social Icons
@font-face {
	font-family: 'social-icons';
	src: url('../fonts/social-icons.eot');
	src: url('../fonts/social-icons.eot?#iefix') format('embedded-opentype'),
			url('../fonts/social-icons.ttf') format('truetype'),
			url('../fonts/social-icons.woff') format('woff'),
			url('../fonts/social-icons.svg#social-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

// UI Icons
@font-face {
	font-family: 'ui-icons';
	src: url('../fonts/ui-icons.eot');
	src: url('../fonts/ui-icons.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ui-icons.ttf') format('truetype'),
			url('../fonts/ui-icons.woff') format('woff'),
			url('../fonts/ui-icons.svg#ui-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}




//=============================================================================================================
// Brand Fonts
//=============================================================================================================

@font-face {
	font-family: 'CentraNo2';
	src: url('../fonts/CentraNo2/CentraNo2-Thin.eot');
	src: url('../fonts/CentraNo2/CentraNo2-Thin.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CentraNo2/CentraNo2-Thin.woff2') format('woff2'),
			url('../fonts/CentraNo2/CentraNo2-Thin.woff') format('woff'),
			url('../fonts/CentraNo2/CentraNo2-Thin.ttf') format('truetype'),
			url('../fonts/CentraNo2/CentraNo2-Thin.svg#CentraNo2-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'CentraNo2';
	src: url('../fonts/CentraNo2/CentraNo2-Light.eot');
	src: url('../fonts/CentraNo2/CentraNo2-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CentraNo2/CentraNo2-Light.woff2') format('woff2'),
			url('../fonts/CentraNo2/CentraNo2-Light.woff') format('woff'),
			url('../fonts/CentraNo2/CentraNo2-Light.ttf') format('truetype'),
			url('../fonts/CentraNo2/CentraNo2-Light.svg#CentraNo2-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'CentraNo2';
	src: url('../fonts/CentraNo2/CentraNo2-Book.eot');
	src: url('../fonts/CentraNo2/CentraNo2-Book.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CentraNo2/CentraNo2-Book.woff2') format('woff2'),
			url('../fonts/CentraNo2/CentraNo2-Book.woff') format('woff'),
			url('../fonts/CentraNo2/CentraNo2-Book.ttf') format('truetype'),
			url('../fonts/CentraNo2/CentraNo2-Book.svg#CentraNo2-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CentraNo2';
	src: url('../fonts/CentraNo2/CentraNo2-Medium.eot');
	src: url('../fonts/CentraNo2/CentraNo2-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/CentraNo2/CentraNo2-Medium.woff2') format('woff2'),
			url('../fonts/CentraNo2/CentraNo2-Medium.woff') format('woff'),
			url('../fonts/CentraNo2/CentraNo2-Medium.ttf') format('truetype'),
			url('../fonts/CentraNo2/CentraNo2-Medium.svg#CentraNo2-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
