//=============================================================================================================
// Fonts
//=============================================================================================================

$fontStack:                 'CentraNo2', Helvetica, Arial, sans-serif;
$system-font:               -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$social-icons:              'social-icons';
$ui-icons:                  'ui-icons';




//=============================================================================================================
// Colors
//=============================================================================================================

// Greys
$color-white:           #ffffff;
$color-grey-1000:       #f9fbfd;
$color-grey-900:        #e9ecef;
$color-grey-800:        #d3d6d9;
$color-grey-700:        #bec2c5;
$color-grey-600:        #939699;
$color-grey-500:        #636669;
$color-grey-400:        #46494b;
$color-grey-300:        #323538;
$color-grey-200:        #191C1F; //Originally: 232629
$color-grey-100:        #090b0e;
$color-black:           #000000;

// Primary colours
$color-aqua:            #00cdd7;
$color-aqua-dark:       #116c70;
$color-aqua-wash:       #f2feff;
$color-aqua-stroke:     #deefef;

// Secondary colours
$color-red:             #d6003d;
$color-red-dark:        #aa0031;
$color-yellow:          #ffab00;
$color-yellow-dark:     #c68500;
$color-green:           #afd600;
$color-green-dark:      #8ead00;

$color-pending:         #fbf8e1;
$color-completed:       #ddf4eb;
$color-cancelled:       #fcedec;

// Opaque equivalents
$color-aqua-opaque:     rgba(0,205,215,0.3);
$color-grey-fade-light: rgba(0,0,0,0.3);
$color-grey-fade-mid:   rgba(0,0,0,0.65);
$color-grey-fade-dark:  rgba(0,0,0,0.8);
$color-white-fade:      rgba(255,255,255,0.1);




//=============================================================================================================
// General Styling
//=============================================================================================================

// Corner border-radius, set this to 0 for no rounded corners
$corners:                 4px;

// Global focus ring styling, use with the box-shadow property
$focus-ring:              0 0 0 3px rgba(0, 103, 244, 0.5);
$focus-ring-inset:        inset $focus-ring;

// Global font properties
$default-line-height:     1.7;
// $default-font-size-mobile:  14rem;
// $default-font-size-desktop: 16rem;

// Shadows
$panel-shadow:            0px 5px 15px rgba(102, 102, 102, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.1);




//=============================================================================================================
// Layout
//=============================================================================================================

$container-width:           1300px;
// $container-pad-desktop:     80px;
// $container-pad-tablet:      50px;
$container-pad:             20px;

$gutters:                   10px;

$header-height-desktop:     91px;
$header-height-tablet:      91px;
$header-height-mobile:      65px;

$section-gap-desktop:       150px;
$section-gap-tablet:        75px;
$section-gap-mobile:        50px;

$content-line-break:        20px;
$content-paragraph-break:   50px;

$constrain-page:            1000px;
$constrain-content:         750px;

$border-thickness:          1px;
