//=============================================================================================================
// Screen Reader
//=============================================================================================================

// Text meant only for screen readers
screen-reader-text,
.screen-reader-text,
.frm_screen_reader,
.frm_hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}

.screen-reader-text:focus {
	display: block;
	height: auto;
	width: auto;
	background-color: $color-white;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba($color-black, 0.6);
	clip: auto !important;
	color: $color-grey-100;
	@include font-size(14);
	font-weight: bold;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	z-index: 100000;
}




//=============================================================================================================
// Focus states
//=============================================================================================================

// This theme uses what-input to track user input - see: https://github.com/ten1seven/what-input

// Change the default focus state
*:focus {
	outline: 0;
	box-shadow: $focus-ring;
}

// Hide the focus ring for mouse users
[data-whatintent='mouse'],
[data-whatintent='touch'] {
	
	*:focus {
		box-shadow: none !important;
	}
}




//=============================================================================================================
// Skip to content button
//=============================================================================================================

.skip-to-content {
	position: fixed;
	top: 10px;
	left: 50%;
	opacity: 0;
	border-radius: $corners;
	transform: translate(-50%, -100px);
	transition: 0.3s ease-in-out;
	z-index: 99999;

	span {
		display: block;
		padding: 14px 28px;
		color: $color-grey-100;
		font-weight: 600;
		background-color: $color-white;
		border-radius: $corners;
		box-shadow: 0 5px 10px rgba($color-black, 0.1);
		white-space: nowrap;
	}
	
	@include on-state(hover, focus) {
		color: $color-grey-100;
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

.skip-to-target {
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	outline: none !important;
	box-shadow: none !important;
}

.admin-bar {

	.skip-to-content {
		top: 56px;

		@include breakpoint(783px, 0) {
			top: 42px;
		}
	}
}