//=============================================================================================================
// HTML, Body & Psuedo
//=============================================================================================================

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 6.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	@include font-size(14);
	font-family: $fontStack;
	font-weight: 300;
	line-height: $default-line-height;
	color: $color-white;
	background: $color-grey-100;
	min-width: 320px;

	@media screen and (min-width: 560px) {
		@include font-size(16);
	}
}
