//=============================================================================================================
// Selection
//=============================================================================================================

::selection {
	background: rgba($color-aqua,0.2);
	color: $white;
}

::-moz-selection {
	background: rgba($color-aqua,0.2);
	color: $white;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: rgba($color-aqua,0.2);
}
