//=============================================================================================================
// Headings
//=============================================================================================================

h1, .h1 {
  @include font-size(36);
  font-family: $fontStack;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 $content-line-break 0;

  @include breakpoint(xs) {
    @include font-size(24);
  }

  &.big {
    @include font-size(48);

    @include breakpoint(xs) {
      @include font-size(36);
    }
  }
}

h2, .h2 {
  @include font-size(30);
  font-family: $fontStack;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 $content-line-break 0;

  @include breakpoint(md) {
    @include font-size(30);
  }

  @include breakpoint(sm) {
    @include font-size(24);
    margin-bottom: 10px;
  }

  @include breakpoint(xs) {
    @include font-size(20);
  }
}

h3, .h3 {
  @include font-size(20);
  font-family: $fontStack;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 $content-line-break 0;

  @include breakpoint(xs) {
    @include font-size(16);
  }
}

h4, .h4 {
  @include font-size(16);
  font-family: $fontStack;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 $content-line-break 0;
}

h5, .h5 {
  @include font-size(14);
  font-family: $fontStack;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 $content-line-break 0;
}

h6, .h6 {
  @include font-size(14);
  font-family: $fontStack;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 $content-line-break 0;
}

.eyebrow {
  @include font-size(12);
  font-family: $fontStack;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $color-aqua;

  @include breakpoint(xs) {
    @include font-size(10);
  }
}




//=============================================================================================================
// General typography
//=============================================================================================================

p {
  margin: 0 0 $content-line-break 0;

  &:last-of-type {
		margin: 0;
	}
}

a {
  color: $color-white;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;

  @include on-state(hover, focus) {
    color: $color-aqua;
  }

  &.inline-link {
    padding: 1px 6px;
    margin: -1px -6px;
    border-radius: $corners;
  }
}

em {
	font-style: italic;
}

strong {
  font-weight: 500;
}

dl {
  
  dt {
    font-weight: 5500;
    margin-bottom: 5px;
  }

  dd {
    margin-bottom: 20px;
    font-weight: 200;
  }
}
