
.section-about-team {
  .team-gallery {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(sm) {
      flex-wrap: wrap;
    }

    article {
      display: flex;
      flex-flow: column;
      width: calc((100% - 160px) / 5);
      margin-right: 40px;

      @include breakpoint(577px,768px) {
        flex-wrap: wrap;
        width: calc((100% - 80px) / 3);

        &:nth-of-type(5n) {
          margin: 0 40px 0 0;
        }

        &:nth-of-type(3n) {
          margin: 0;
        }
      }

      @include breakpoint(0,576px) {
        flex-wrap: wrap;
        width: calc((100% - 40px) / 2);
        margin: 0 40px 0 0;

        &:nth-of-type(5n) {
          margin: 0 40px 0 0;
        }

        &:nth-of-type(2n) {
          margin: 0;
        }
      }

      &:nth-of-type(5n) {
        margin-right: 0;
      }

      h3 {
        order: 2;
        @include font-size(16);
        font-weight: 400;

        @include breakpoint(0,576px) {
          @include font-size(14);
        }
      }

      p {
        order: 3;
        @include font-size(14);
        font-weight: 300;

        @include breakpoint(0,576px) {
          @include font-size(13);
        }
      }

      .profile-image {
        order: 1;
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
        background: url('../images/bg/bg-technology.jpg') center center / cover no-repeat;

        @include breakpoint(lg) {
          height: 120px;
        }

        @include breakpoint(md) {
          height: 90px;
        }
      }
    }
  }
}
