.section-home-hero {
  height: 80vh; 
  
  .hero-news-teaser {
    margin: 50px 0 0;

    a {
      display: inline-block;
      padding: 5px 10px;
      color: $color-white;
      background: rgba(0,0,0,0.3);
      border-radius: 4px;
      transition: all 0.2s ease;
      line-height: 1.4;
      font-weight: 300;

      &:hover {
        background: rgba(0,0,0,0.6);
      }

      @include breakpoint(sm) {
        @include font-size(14);
      }

      @include breakpoint(xs) {
        display: block;
        @include font-size(12);
      }

      span {
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: 400;
        color: $color-aqua;
      }
    }
  }
}

.section-awards {

  .awards-list {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

  .award {
    display: block;
    width: calc((100% - 120px) / 4);
    margin-right: 40px;
    text-align: center;

    @include breakpoint(md) {
      width: calc((100% - 90px) / 4);
      margin-right: 30px;
    }

    @include breakpoint(sm) {
      width: calc((100% - 40px) / 2);
      margin-top: 20px;
      margin-bottom: 20px;

      &:nth-of-type(2) {
        margin-right: 0;
      }
    }

    @include breakpoint(xs) {
      width: 100%;
      margin: 0 0 30px;

      &:nth-of-type(4) {
        margin: 0;
      }
    }

    &:nth-of-type(4) {
      margin-right: 0;
    }

    h3 {
      @include font-size(16);
      margin: 0 0 5px 0;
      font-weight: 400;

      @include breakpoint(md) {
        @include font-size(13);
      }
    }

    p {
      @include font-size(14);

      @include breakpoint(md) {
        @include font-size(13);
      }

      br {
        @include breakpoint(sm) {
          display: none;
        }
      }
    }

    .award-image {
      width: 100%;
      height: 40px;
      margin-bottom: 30px;

      @include breakpoint(sm) {
        margin-bottom: 20px;
      }
    }

    &.award-etc .award-image {
      background: url('../images/logo-etc.svg') center center / contain no-repeat;
    }

    &.award-fastco .award-image {
      background: url('../images/logo-fastco.svg') center center / auto 30px no-repeat;

      @include breakpoint(md) {
        background: url('../images/logo-fastco.svg') center center / auto 25px no-repeat;
      }
    }

    &.award-ey .award-image {
      background: url('../images/logo-ey.svg') center center / auto 35px no-repeat;

      @include breakpoint(md) {
        background: url('../images/logo-ey.svg') center center / auto 30px no-repeat;
      }
    }

    &.award-afr .award-image {
      background: url('../images/logo-afr.svg') center center / contain no-repeat;
    }
  }
}

.section-home-technology {
  flex-flow: column;
}

.subsection-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  @include breakpoint(md) {
    padding-top: 20px;
  }

  @include breakpoint(sm) {
    @include visual-hide;
  }

  h3 {
    @include visual-hide;
  }

  a {
    display: block;
    margin: 0 20px;
    opacity: 0.3;
    transition: opacity 0.2s ease;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }

    &.partner-bcpg {
      width: 130px;
      height: 45px;
      background: url('../images/logo-bcpg.svg') center center / contain no-repeat;
    }

    &.partner-apn {
      width: 160px;
      height: 18px;
      background: url('../images/logo-apn.svg') center center / contain no-repeat;
    }

    &.partner-kepco {
      width: 160px;
      height: 33px;
      background: url('../images/logo-kepco.svg') center center / contain no-repeat;
    }

    &.partner-synergy {
      width: 125px;
      height: 50px;
      background: url('../images/logo-synergy.svg') center center / contain no-repeat;
    }

    &.partner-western-power {
      width: 160px;
      height: 27px;
      background: url('../images/logo-western-power.svg') center center / contain no-repeat;
    }

    span {
      @include visual-hide;
    }
  }
}

// CTA bar
.cta-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 6;
  background: $color-grey-fade-mid;
  transition: 0.3s ease-in-out;

  @include breakpoint(md) {
    flex-direction: column;
    height: auto;
    padding: 5px 20px;
    @include font-size(14);
    line-height: 1.6;
  }

  @include breakpoint(xs) {
    align-items: flex-start;
    @include font-size(12);
  }

  .scrolled & {
    background: $color-grey-fade-dark;
  }

  .footer-in-view & {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  p {
    margin-bottom: 0;
    font-weight: 300;
    @include font-size(14);

    @include breakpoint(md) {
      margin-right: 5px;
    }

    @include breakpoint(xs) {
      line-height: initial;
      @include font-size(12);
    }
  }

  .button {
    margin-left: 20px;
    line-height: 32px;
    @include font-size(14);

    @include breakpoint(md) {
      display: inline;
      margin-left: 0;
      background: transparent;
      color: $color-aqua;
      padding: 0;
      line-height: initial;
    }

    @include breakpoint(xs) {
      @include font-size(12);
    }
  }
}