// Generic section styles
section, .section { // @todo Remove the general 'section' declaration when all templates have been updated
  padding: 120px 0;

  @include breakpoint(lg) {
    padding: 80px 0;
  }

  &.bg-texture {
    background-image: linear-gradient(to bottom, rgba(0,42,43,0.85), rgba(3,22,23,0.9)), url('../images/bg/bg-solar-array.jpg');
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    // background-attachment: fixed, fixed;
  }

  &.bg-device-left {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url('../images/bg/bg-pl-device.svg') calc(50vw - 1150px) -350px / 900px 900px no-repeat;
      opacity: 0.1;
      z-index: -1;

      @include breakpoint(md) {
        background: url('../images/bg/bg-pl-device.svg') calc(50vw - 900px) -350px / 900px 900px no-repeat;
      }

      @include breakpoint(sm) {
        background: url('../images/bg/bg-pl-device.svg') -300px -300px / 750px 750px no-repeat;
      }

      @include breakpoint(xs) {
        background: url('../images/bg/bg-pl-device.svg') -200px -250px / 600px 600px no-repeat;
      }
    }
  }

  &.bg-device-right {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url('../images/bg/bg-pl-device.svg') calc(100vw - 600px) -350px / 900px 900px no-repeat;
      opacity: 0.1;
      z-index: -1;

      @include breakpoint(sm) {
        background: url('../images/bg/bg-pl-device.svg') 300px -300px / 750px 750px no-repeat;
      }

      @include breakpoint(xs) {
        background: url('../images/bg/bg-pl-device.svg') 100px -250px / 600px 600px no-repeat;
      }
    }
  }

  .section-header {
    display: block;
    width: 100%;
    margin: 0 0 $content-paragraph-break 0;

    .section-title {
      margin: 0;
    }

    .section-sub-title {
      display: block;
      margin: $content-line-break 0 0 0;
      max-width: $constrain-content;
    }
  }

  // @todo this will eventually disappear in favor of .container class in global-elements.scss
  .inner-wrap {
    display: flex;
    flex-flow: wrap;
    width: 1140px;
    margin: 0 auto;

    @include breakpoint(lg) {
      width: 930px;
    }

    @include breakpoint(md) {
      flex-direction: column;
      width: 728px;
    }

    @include breakpoint(sm) {
      width: 100%;
      padding: 0 20px;
    }

    &.reverse {
      @include breakpoint(md) {
        flex-direction: column-reverse;
      }

      .section-column {
        &:first-child {
          @include breakpoint(sm) {
            margin: 0;
          }
        }

        &:nth-child(2) {
          @include breakpoint(sm) {
            margin: 0 0 40px;
          }
        }
      }
    }
  }

  .inner-wrap + .inner-wrap {
    margin-top: 60px;

    @include breakpoint(sm) {
      margin-top: 30px;
    }
  }

  .section-column {
    width: calc(50% - 40px);

    @include breakpoint(md) {
      width: 100%;
    }

    &:first-child {
      margin: 0 80px 0 0;

      @include breakpoint(md) {
        width: 100%;
        margin: 0 0 40px;
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 20px;
    }

    iframe {
      width: 100%;
      height: 100%;

      @include breakpoint(md) {
        height: 52vw;
      }
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .actions {
      display: inline-flex;
      width: 100%;
      margin: $content-line-break 0 0 0;
    }
  }

  &.reverse {

    .container {
      flex-direction: row-reverse;
      
      @include breakpoint(md) {
        flex-direction: column;
      }
    }

    .section-column {

      &:first-child {
        margin: 0;
      }

      &:nth-child(2) {
        margin: 0 80px 0 0;
  
        @include breakpoint(md) {
          margin: 40px 0 0 0;
        }
      }
    }
  }

  &.section-full-width {

    .content-wrap {
      max-width: $constrain-content;
    }
  }

  .section-definition-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding: 20px;

    @include breakpoint(sm) {
      padding: 0;
    }
  }

  div[class*="section-image"] {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;

    @include breakpoint(md) {
      height: 60vw;
    }

    &.section-image-cover {
      background-size: cover;
    }

    &.section-image-contain {
      background-size: contain;
    }
  }
}

.section-generic-hero {
  position: relative;
  height: 60vh;
  min-height: 500px;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/bg/bg-technology.jpg');

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-grey-100;
    z-index: 1;
    opacity: 0.75;
  }

  &.section-home-hero {
    overflow: hidden;
    background: transparent;

    video {
      min-width: 100vw;
      min-height: 100vh;
    }
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: calc((100% - 1140px) / 2);
    transform: translateY(-50%);
    max-width: 760px;
    z-index: 2;

    @include breakpoint(lg) {
      left: calc((100% - 930px) / 2);
    }

    @include breakpoint(md) {
      left: calc((100% - 728px) / 2);
      max-width: 728px;
    }

    @include breakpoint(sm) {
      left: 20px;
      max-width: calc(100% - 40px);
      min-height: auto;
      padding-top: 0;
    }
  }

  .entry-title {
    display: block;
    margin: 0;
  }

  .entry-sub-title {
    display: block;
    margin: $content-line-break 0 0 0;
  }

  .actions {
    display: inline-flex;
    width: 100%;
    margin: calc(#{$content-line-break} + 10px) 0 0 0;
  }
}

.section-limited-hero {
  position: relative;
  height: auto;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/bg/bg-wave.jpg');

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
  }

  .hero-content {
    position: relative;
    width: 1140px;
    padding: 300px 0 80px;
    margin: 0 auto;
    z-index: 1;

    @include breakpoint(lg) {
      width: 930px;
      padding: 300px 0 60px;
    }

    @include breakpoint(md) {
      width: 728px;
      padding: 200px 0 60px;
    }

    @include breakpoint(sm) {
      width: 100%;
      padding: 140px 20px 40px;
    }

    @include breakpoint(xs) {
      padding: 140px 20px 20px;
    }
  }

  .entry-title {
    display: block;
    margin: 0;
  }

  .entry-sub-title {
    display: block;
    margin: $content-line-break 0 0 0;
  }
}



// Grid tiles - base styles
.tile-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 60px) / 3);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
    border: 1px solid $color-aqua-opaque;
    text-align: center;

    @include breakpoint(md) {
      width: calc((100% - 30px) / 2);
    }

    @include breakpoint(sm) {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(sm) {
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

.section-enquiry {
  padding: 80px 0;

  @include breakpoint(md) {
    padding: 60px 0;
  }

  @include breakpoint(sm) {
    padding: 40px 0;
  }

  @include breakpoint(xs) {
    padding: 30px 0;
  }

  .inner-wrap, .container {
    display: block;
  }

  h2, p {
    max-width: $constrain-content;

    @include breakpoint(md) {
      width: 100%;
    }
  }

  .button {
    margin: 20px 20px 0 0;
  }
}

// Testimonial section
.section-testimonial {
  overflow: hidden;

  .container {
    position: relative;
    flex-flow: column;
    text-align: center;

    &:before {
      content: '\201C';
      display: block;
      position: absolute;
      height: 150px;
      top: -50px;
      left: -50px;
      opacity: 0.1;
      @include font-size(300);
      font-weight: 300;
      line-height: 1;
    }

    &:after {
      content: '\201D';
      display: block;
      position: absolute;
      height: 150px;
      bottom: -20px;
      right: -50px;
      opacity: 0.1;
      @include font-size(300);
      font-weight: 300;
      line-height: 1;
    }

    @include breakpoint(md) {
      &:before {
        left: -20px;
      }

      &:after {
        bottom: 0;
        right: -20px;
      }
    }
  }

  .quote {
    margin: 0 auto;
    max-width: $constrain-content;
  }

  .attribution {
    margin: $content-line-break 0 0 0;
  }
}



// Standard page with sidebar 
.standard-page {
  padding: 120px 0;
  width: 100%;

  @include breakpoint(lg) {
    padding: 80px 0;
  }

  .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  article {
    width: 50%;
    flex-grow: 1;
    padding-right: 100px;

    @include breakpoint(md) {
      width: 100%;
      padding: 0;
    }
  }
}


// Full width page no sidebar
.full-width-page {
  padding: 120px 0;
  width: 100%;

  @include breakpoint(lg) {
    padding: 80px 0;
  }

  article {
    max-width: $constrain-content;
  }
}
