//=============================================================================================================
// Default Archive Posts
//=============================================================================================================

.posts-list,
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: (-$gutters);
  width: calc(100% + (#{$gutters} * 2));

  article {
    position: relative;
    display: flex;
    width: 33.333336%;
    padding: $gutters;

    @include breakpoint(lg) {
      width: 50%;
    }

    @include breakpoint(md) {
      width: 100%;
    }

    .entry-link {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
      width: 100%;
      color: $color-white;
			border-radius: $corners;

			@include on-state(hover, focus) {

        .entry-preview {
          background: $color-grey-300;
        }
			}
		}

    .entry-inner {
			position: relative;
      display: flex;
      flex-direction: column;
			flex-grow: 1;
			width: 100%;
			border-radius: $corners;
      overflow: hidden;

      @include breakpoint(md) {
        flex-direction: row;
      }
      
      @include breakpoint(xs) {
        flex-direction: column;
      }
		}

		.entry-thumb {
			position: relative;
			display: block;
			width: 100%;
			background-color: $color-grey-300;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			transform: translate3d(0, 0, 0); // This fixes the overflow/border-radius bug in safari
      backface-visibility: hidden;
      
      @include breakpoint(md) {
        width: 220px;
      }

      @include breakpoint(xs) {
        width: 100%;
      }

			.ratio-sizer {
				display: block;
				padding-top: 50%;

				@include breakpoint(md) {
					padding-top: 50%;
				}
			}
    }

    .entry-preview {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      padding: 25px;
      background: $color-grey-200;
      transition: background-color 0.3s ease-in-out;


      @include breakpoint(md) {
        width: 50%;
      }

      @include breakpoint(xs) {
        width: 100%;
        padding: 20px;
      }
    }

    .entry-meta {
      display: block;
			margin: 0 0 calc(#{$content-line-break} - 5px) 0;
      @include font-size(12);
      color: $color-white;
      transition: color 0.3s ease-in-out;
    }

    .entry-title {
			display: block;
      color: $color-white;
      margin: 0;
    }

    .entry-sub-title {
      display: block;
      @include font-size(14);
      color: $color-white;
			margin: calc(#{$content-line-break} - 5px) 0 0 0;
    }
    
    // .read-more {
    //   display: flex;
    //   align-items: flex-end;
    //   flex-grow: 1;
    //   @include font-size(14);
    //   color: $color-aqua;
    //   margin: $content-line-break 0 0 0;
    // }
  }
}


// Unique styles for the first article on desktop displays
.posts-list {

  article {

    &:first-of-type {

      @include breakpoint(993px, 0) {
        width: 100%;

        .entry-inner {
          flex-direction: row;
        }
        
        .entry-thumb {
          width: 50%;

          .ratio-sizer {
            padding: 0;
          }
        }

        .entry-preview {
          width: 30%;
          padding: 30px 34px;
        }

        .entry-title {
          @include font-size(20);
        }
      }

      @include breakpoint(1201px, 0) {

        .entry-thumb {
          width: calc(66.6666667% + 3px);
        }
      }
    }
  }
}




//=============================================================================================================
// Default Single Posts
//=============================================================================================================

.single {

  .entry-meta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $content-paragraph-break;
    padding-bottom: $content-line-break;
    border-bottom: $border-thickness solid $color-grey-300;
  }

  .article-wrap {
    max-width: $constrain-content;
  }
}
