//=============================================================================================================
// Products Archive
//=============================================================================================================

.section-products {

  .product-group-overview {
    max-width: $constrain-content;
    margin: 0 0 $content-paragraph-break 0;
  }
}




//=============================================================================================================
// Single Product
//=============================================================================================================

// @todo all of this can be removed when the VPP SA registration page is no longer needed
.section-product-benefits {

  .container {
    justify-content: space-between;
  }

  .benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 40px) / 2);
    padding: 30px;
    border: 1px solid $color-aqua-opaque;
    border-radius: 4px;

    @include breakpoint(sm) {
      width: 100%;
      margin: 0 0 20px;
      padding: 20px;
    }

    @include breakpoint(xs) {
      padding: 15px;
    }

    p {
      margin: 0;
      text-align: center;
      font-weight: 500;
      @include font-size(20);

      @include breakpoint(md) {
        @include font-size(18);
      }

      @include breakpoint(sm) {
        @include font-size(16);
      }

      @include breakpoint(xs) {
        @include font-size(14);
      }
    }
  }
}

.section-features {

  .section-content {
    justify-content: flex-start;
  }
}

.section-product-steps {
  .inner-wrap {
    flex-flow: wrap;
  }

    .getting-started-steps {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      width: 100%;

      article {
        width: calc((100% - 120px) / 4);
        padding: 120px 0 0;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100px 100px;

        @include breakpoint(md) {
          width: calc((100% - 40px) / 2);
          padding: 80px 0 0;
          margin: 20px 0;
          background-size: 60px 60px;
        }

        @include breakpoint(sm) {
          width: 100%;
          padding: 0 0 0 60px;
          background-size: 40px 40px;
          background-position: center left;
          margin: 15px 0;
        }

        @include breakpoint(xs) {
          margin: 10px 0;
        }
      }

        h3 {
          @include font-size(16);
          font-weight: 500;

          @include breakpoint(sm) {
            @include font-size(14);
          }
        }

        p {
          margin: 0;
          @include font-size(14);
          font-weight: 300;
          line-height: 1.3;
        }
    }
}





//=============================================================================================================
// Tech bucket links in page header of product archive
//=============================================================================================================

// @todo these should be moved into the standalone page header sass file

.section-generic-hero {
  
  .tech-buckets {
    display: flex;
    margin: calc(#{$content-line-break} + 10px) 0 0 0;

    @include breakpoint(sm) {
      flex-flow: column;
    }
  }

  .hero-tile {
    width: 180px;
    margin-right: 10px;
    padding: 105px 20px 30px;
    border: 1px solid $color-aqua-opaque;
    border-radius: 4px;
    background-position: center 30px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    text-align: center;
    color: $color-white;
    line-height: 1.3;
    font-weight: 300;

    @include breakpoint(sm) {
      width: 350px;
      margin-right: 0;
      margin-bottom: 10px;
      padding: 30px 30px 30px 70px;
      background-position: 20px center;
      background-size: 30px 30px;
      text-align: left;
    }

    @include breakpoint(0,400px) {
      width: 100%;
      justify-content: center;
    }

    &.tile-energy-trading {
      background-image: url('../images/icon-energy-trading.svg');
    }

    &.tile-environmental-commodities-trading {
      background-image: url('../images/icon-environmental-commodities.svg');
    }

    &.tile-renewable-asset-ownership {
      background-image: url('../images/icon-asset-financing.svg');
    }

    @include on-state(hover, focus) {
      color: $color-white;
      background-color: $color-white-fade;
    }
  }
}
