
//=============================================================================================================
// Projects Archive Posts
//=============================================================================================================

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: (-$gutters);
  width: calc(100% + (#{$gutters} * 2));

  article {
    position: relative;
    display: flex;
    width: 33.333336%;
    padding: $gutters;

    @include breakpoint(md) {
      width: 50%;
    }

    @include breakpoint(xs) {
      width: 100%;
    }

    .overlay {
      opacity: 0.75;
    }

    .entry-link {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      min-height: 130px;
      color: $color-white;
      border-radius: $corners;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include on-state(hover, focus) {
        transform: translateY(-5px);

        .overlay {
          opacity: 0.6;
        }
      }

      .entry-preview {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        padding: 20px 40px;
        text-align: center;

        @include breakpoint(xs) {
          text-align: left;
        }
      }

      .entry-meta {
        display: block;
        @include font-size(12);
        font-weight: 300;
        color: $color-white;
        opacity: 0.6;
        margin: 0 0 5px 0;
        transition: color 0.3s ease-in-out;

        span {
          &:after {
            content: ', ';
          }

          &:last-of-type {
            &:after {
              content: '';
            }
          }
        }
      }

      .entry-title {
        display: block;
        margin: 0;
        color: $color-white;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}




//=============================================================================================================
// Single Project
//=============================================================================================================

.section-project-overview {

  .how {
    margin: $content-paragraph-break 0 0 0;
  }

  .actions { 
    margin: $content-line-break 0 0 0;
  }

  .section-image-cover {
    display: flex;
    align-items: flex-end;
    background: url('../images/bg/bg-technology.jpg') center center / cover no-repeat;

    @include breakpoint(xs) {
      height: auto;
    }
  }
}

.projects-map {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;

    g {
      cursor: pointer;

      path {
        transition: all 0.3s ease;
      }
    }

    #bg {
      > g {
          path {
            fill: $color-white;
            opacity: 0.2;
            pointer-events: none;
          }
      }
    }

    #continents {
      > g {
          path {
            fill: $color-white;
            opacity: 0;
          }

          &:hover,
          &.clicked {
            path {
              opacity: 0.2;
            }
          }
      }
    }

    #countries {
      > g {
          path {
            opacity: 0;
            fill: $color-aqua;
            pointer-events: none;
          }

          &#australia,
          &#thailand,
          &#malaysia,
          &#japan,
          &#united-states,
          &#italy,
          &#austria,
          &#india,
          &#france {
            path {
              opacity: 1;
            }
          }
      }
    }
  }

  .project-continent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    padding: 30px;
    opacity: 0;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    transition: opacity 0.2s ease, z-index 0s linear 0.2s;

    @include breakpoint(sm) {
      padding: 0;
    }

    &.continent-active {
      opacity: 1;
      z-index: 1;
      transition: opacity 0.2s ease, z-index 0s linear;
    }

    .content {
      position: relative;
      width: 100%;
      padding: 20px;
      background: $color-grey-fade-dark;
      border-radius: 4px;

      @include breakpoint(xs) {
        padding: 15px;
      }

      h3 {
        @include font-size(18);
        line-height: 24px;
        font-weight: 500;

        @include breakpoint(sm) {
          margin-top: 5px;
          margin-bottom: 10px;
          @include font-size(16);
        }
      }

      p {
        @include font-size(14);
      }

        .modaal-trigger {
          &:after {
            content: '.';

            @include breakpoint(xs) {
              content: '';
            }
          }

          @include breakpoint(xs) {
            display: block;
            margin-top: 15px;
          }
        }

      button {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        cursor: pointer;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 11px;
          left: 0;
          display: block;
          width: 24px;
          height: 2px;
          background: $color-grey-700;
          transition: all 0.2s ease;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }

        &:hover {
          &:before,
          &:after {
            background: $color-white;
          }
        }

        span {
          @include visual-hide;
        }
      }

      .project-link {
        display: block;
        font-weight: 300;
        @include font-size(14);
        line-height: 1.3;

        &:hover {
          color: $color-white;
        }

        @include breakpoint(xs) {
          @include font-size(12);
          line-height: 1.4;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.section-highlights {

  .highlight-items {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + (#{$gutters} * 2));
    margin: (-$gutters);

    .highlight-item {
      width: 25%;
      padding: $gutters;

      @include breakpoint(md) {
        width: 50%;
      }

      @include breakpoint(xs) {
        width: 100%;
      }

      .title {
        @include font-size(48);
        font-weight: 200;
        color: $color-aqua;
        margin: 0;

        span {
          @include font-size(24);
        }
      }

      .sub-title {
        margin: 0;
        max-width: 230px;
      }
    }
  }
}
