//=============================================================================================================
// Search results
//=============================================================================================================

.hero-search-form {
  position: relative;
  width: 400px;

  @include breakpoint(xs) {
    width: 100%;
  }
}

.pages-list {
  width: 100%;

  article {
    width: 100%;

    &:not(:first-of-type) {
      margin: $content-paragraph-break 0 0 0;
      padding: $content-paragraph-break 0 0 0;
      border-top: $border-thickness solid $color-grey-300;
    }

    .entry-link {
      position: relative;
      width: 100%;
    }

    .entry-preview {
      position: relative;
      max-width: $constrain-content;
    }

    .entry-title {
			display: block;
      color: $color-white;
      margin: 0;
    }

    .entry-sub-title {
      display: block;
      color: $color-white;
			margin: calc(#{$content-line-break} - 5px) 0 0 0;
    }

    .entry-actions {
      margin: $content-line-break 0 0 0;

      .read-more {
        @include font-size(14);
        color: $color-aqua;
      }
    }
  }
}
