
.post-aside {
  position: sticky;
  top: 160px;
  width: 340px;
  padding: 20px;
  background: $color-grey-200;
  border-radius: 4px;

  @include breakpoint(lg) {
    width: 200px;
  }

  @include breakpoint(md) {
    width: 100%;
    margin: $content-paragraph-break 0 0 0;
  }

  h2 {
    margin-bottom: 20px;
    @include font-size(16);
    font-weight: 400;
  }

  .naked-social-share {

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 10px 0 0;

      a {
        &:hover {
          i {
            background: $color-grey-700;
          }
        }
      }

      i {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $color-grey-200;
        background: $color-grey-600;
        @include font-size(24);
        line-height: 40px;
        text-align: center;
        transition: background 0.2s ease;
      }

      span {
        @include visual-hide;
      }
    }
  }

  .topic-entries {
    column-count: 2;

    @include breakpoint(lg) {
      column-count: 1;
    }

    @include breakpoint(md) {
      column-count: 4;
    }

    @include breakpoint(sm) {
      column-count: 3;
    }

    @include breakpoint(xs) {
      column-count: 2;
    }

    @include breakpoint(0,400px) {
      column-count: 1;
    }

    a {
      display: block;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 21px;
      @include font-size(12);
    }
  }

    a.position-enquiry {
      width: 100%;
      text-align: center;
    }
  }
