.section-landing-hero {
  @include breakpoint(md) {
    height: auto;
  }

  .inner-wrap {
    display: flex;
    align-items: center;
    height: 100%;

    @include breakpoint(md) {
      padding: 140px 0 80px;
    }

    @include breakpoint(sm) {
      padding: 140px 0 0;
    }
  }

  .landing-content {
    position: static;
    transform: none;
    width: calc(100% - 440px);
    z-index: 2;

    @include breakpoint(md) {
      width: 100%;
      padding: 0 30px;
    }

    @include breakpoint(sm) {
      padding: 0 20px;
    }

    @include breakpoint(xs) {
      padding: 0 15px;
    }

    h1 {
      margin-bottom: 30px;
      @include font-size(72);
      font-weight: 200;
      line-height: 1;

      @include breakpoint(lg) {
        @include font-size(60);
      }

      @include breakpoint(md) {
        @include font-size(48);
      }

      @include breakpoint(sm) {
        @include font-size(36);
      }

      @include breakpoint(xs) {
        @include font-size(30);
      }
    }

    p {
      @include font-size(24);
      line-height: 1.3;

      @include breakpoint(lg) {
        @include font-size(20);
      }

      @include breakpoint(md) {
        @include font-size(18);
      }

      @include breakpoint(sm) {
        @include font-size(16);
      }

      @include breakpoint(xs) {
        @include font-size(14);
      }
    }
  }

  .form {
    position: fixed;
    top: 50%;
    right: calc((100% - 1140px) / 2);
    width: 400px;
    transform: translateY(-50%);
    padding: 30px;
    background-color: $color-grey-900;
    border-radius: 2px;
    z-index: 2;

    @include breakpoint(lg) {
      right: calc((100% - 930px) / 2)
    }

    @include breakpoint(md) {
      margin: 0;
      position: static;
      transform: none;
      width: 100%;
    }

    @include breakpoint(sm) {
      padding: 20px;
    }

    @include breakpoint(xs) {
      padding: 15px;
    }

    @include breakpoint(md) {
      position: static;
      margin-top: 40px;
    }

    h2 {
      margin: 0 0 20px;
      @include font-size(24);
      color: $color-grey-100;
    }

    p {
      @include font-size(12);
      color: $color-grey-100;
    }
  }
}

.section-landing-video {
  .content {
    width: calc(100% - 440px);

    @include breakpoint(md) {
      width: 100%;
    }

    iframe {
      width: 100%;

      @include breakpoint(sm) {
        height: auto;
        min-height: 200px;
      }

      @include breakpoint(xs) {
        min-height: 150px;
      }
    }
  }
}

.section-landing-features {
  .content {
    width: calc(100% - 440px);

    @include breakpoint(md) {
      width: 100%;
    }

    .content-features {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      .feature-item {
        margin: 0 0 20px;
        padding: 0 0 0 80px;
        background-position: left center;
        background-repeat: no-repeat;

        &:last-of-type {
          margin: 0;
        }

        h3 {
          font-weight: 500;
          @include font-size(18);
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

// header and footer styling
.page-template-page-vpp-registration {
  header {
    border-bottom: none;
    background: none;
    position: absolute;
  }

  .footer-details {
    padding: 30px 0;

    p {
      margin-bottom: 0;
    }
  }
}

.menu-privacy-terms-container {
  ul {
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }
}
