//=============================================================================================================
// VPP Calculator Page
//=============================================================================================================

// Intro section
.section-calculator-intro {

  .intro-column {
    max-width: $constrain-content;
  }
}

// Savings timeline
.section-savings-timeline {
  padding-top: 0 !important;
}

.savings-timeline {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 90px);
  margin: 0 -45px;
  background-color: $color-grey-200;
  border-radius: $corners;
  overflow: hidden;

  @include breakpoint(0, 1300px) {
    width: 100%;
    margin: 0;
  }

  .savings-timeline-inner {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
  }

  .step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 55px;
    width: 25%;
    border: 1px solid $color-grey-100;

    @include breakpoint(lg) {
      width: 100%;
      padding: 40px;
    }

    @include breakpoint(sm) {
      padding: 35px;
    }

    &.outcome {
      color: $color-aqua;
    }

    .title {
      display: block;
      width: 100%;
      margin: 0;
      font-weight: 500;
    }

    .subtitle {
      display: block;
      width: 100%;
      margin: 15px 0 0 0;
    }

    .step-icon {
      position: absolute;
      top: 50%;
      right: -25px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      @include font-size(30);
      font-weight: 300;
      border-radius: 40px;
      background-color: $color-grey-100;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 10;

      @include breakpoint(lg) {
        top: 100%;
        right: 50%;
        width: 40px;
        height: 40px;
        transform: translate(50%, -50%);
      }
    }
  }
}



// Savings calculator
.section-vpp-calculator-settings,
.section-vpp-calculator-results {
  padding-top: 0 !important;

  .section-title {
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;

    h1 {
      margin: 0;
    }

    .tooltip {
      margin-top: 4px;
    }

    @include breakpoint(sm) {
      margin: 0 0 30px 0;
    }
  }
}

.section-vpp-calculator-results {
  display: none;
}

.calculator-box {
  position: relative;
  display: flex;
  width: calc(100% + 90px);
  margin: 0 -45px;
  background-color: $color-grey-200;
  border-radius: $corners;

  @include breakpoint(0, 1300px) {
    width: 100%;
    margin: 0;
  }

  .box-inner {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    flex-grow: 1;
  }

  .box-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 45px;
    width: 100%;
    border: 1px solid $color-grey-100;

    @include breakpoint(sm) {
      padding: 25px 20px;
    }

    @include breakpoint(md) {
      align-items: flex-start;
    }

    &.half {
      width: 50%;

      @include breakpoint(sm) {
        width: 100%;
      }
    }

    &.hide {
      display: none;
    }

    .input-label {
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      margin: 0 45px 0 0;

      @include breakpoint(lg) {
        width: 100%;
        margin: 0 0 15px 0;
      }
    }

    .input-options {
      width: 50%;
      flex-grow: 1;

      @include breakpoint(lg) {
        width: 100%;
      }
    }

    .input-field {
      position: relative;
      flex-grow: 1;

      // Remove browser default arrows for number input - @todo this could be standardised later
      input {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        // Remove IE clear button
        &::-ms-clear {
          display: none;
        }
      }
  
      .unit { 
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
  
      &.unit-before {
        
        input {
          padding-left: 40px;
        }
  
        .unit {
          left: 20px;
        }
      }
  
      &.unit-after {
        
        input {
          padding-right: 75px;
        }
  
        .unit {
          right: 20px;
        }
      }
    }

    &.form-submit {
      padding: 0;

      .button {
        width: 100%;
        line-height: 60px;
        border-radius: 0 0 $corners $corners;
      }
    }

    .placeholder {
      flex-grow: 1;
    }

    .box-label {
      width: 100%;
      margin: 0 0 30px 0;
    }

    .result-group {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      margin: -15px;
    }

    .result-item {
      display: flex;
      flex-direction: column;
      width: calc(100%/3);
      padding: 15px;
      
      @include breakpoint(md) {
        width: 50%;
      }

      @include breakpoint(xs) {
        width: 100%;
      }

      .label {
        margin: 0 0 5px 0;
      }

      .result {
        position: relative;
        width: 100%;

        .value {
          font-weight: 200;
        }

        .total {
          @include font-size(60);
        }

        .unit {
          text-transform: uppercase;
          margin: 0 0 0 5px;
          font-weight: 300;
        }
      }
    }
  }
}


// No JS warning
.calculator-no-js-warning {
  position: relative;
  display: none;
  width: calc(100% + 90px);
  margin: 0 -45px;
  padding: 40px 45px;
  background-color: $color-grey-200;
  border-radius: $corners;

  @include breakpoint(sm) {
    padding: 25px 20px;
  }

  @include breakpoint(0, 1300px) {
    width: 100%;
    margin: 0;
  }

  .message {
    display: flex;
    align-items: center;
  }

  .icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    min-width: 26px;
    height: 26px;
    margin-right: 15px;
    font-weight: 500;
    color: $color-white;
    background-color: transparent;
    border-radius: 26px;
    border: $border-thickness solid $color-white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

// Toggle the no JS warning
body.no-js {
  
  .calculator-box .box-inner, 
  .section-vpp-calculator-results {
    display: none !important;
  }

  .calculator-no-js-warning {
    display: flex;
  }
}
